<h1>Edit Gig</h1>
<form action='/gigs/<%=@gigs.id%>' method='post'>
    <input type="hidden" name="_method" value="patch">

    Gig Name: <input type='text' name='gig_name' value='<%= @gigs.gig_name %>'> <br/>
    Date: <input type='text' name='date' value='<%= @gigs.date %>'> <br/>
    Location: <input type='text' name='location' value='<%= @gigs.location %>'> <br/>

    Check box if you plan on attending: 
    <% if @gigs.attending == true %>
      <input
      type='checkbox'
      name='attending'
      value='true'
      checked
      />
    <% else %>
      <input
      type='checkbox'
      name='attending'
      value='true'
      />
    <% end %><br/>
 
    <button class="btn btn-primary" type="submit">Edit Gig</button>
</form>
<br>

<a class="btn btn-primary" href="/gigs/new" role="button">Add Gigs</a>
<a class="btn btn-primary" href="/logout" role="button">Log Out</a>