<h1>Gig List</h1>

<% @gigs.each do |gig_obj| %>
  <p>Name: <%= gig_obj[:gig_name] %></p>
  <p>Date: <%= gig_obj[:date] %></p>
  <p>Location: <%= gig_obj[:location] %></p>
  <p>Attending: <%= gig_obj[:attending] %></p>
<% end %>

<a href="/gigs/:id/edit">Edit Gigs</a>
<a href="/gigs/:id/delete">Delete Gigs</a>
<a href="/logout">Log Out</a>
