<!doctype html>
<html>
  <head>
    <title>Marching Band Gig Sign Up</title>
    <header><img src="images/header.png"></header>
  </head>
  <body>
    <h1>Hi Band!</h1>

    <h2>Existing member?</h2>
      <a href="/login">Sign In Here</a>

    <h2>New member?</h2> 
      <a href="/members/signup">Create Your Profile Here!</a>
    
    <p>The Lesbian & Gay Big Apple Corps (LGBAC) is 
    a community band based in New York City. Founded on 
    September 24, 1979 as the New York Gay Community Marching Band, 
    LGBAC is the third-oldest community band in the United States 
    dedicated to serving the LGBTQ+ community.</p>
  </body>
</html>