<!doctype html>
<html>
  <head>
    <title>Marching Band Gig Sign Up</title>
    <header><img src="images/header.png"></header>
  </head>
  <body>
    <h1>Hi Band!</h1>

    <h2>Are you an existing member?</h2>
      <a href="/login">Sign In</a>

    <h2>Are you a new member?</h2> 
      <a href="/signup">Sign Up</a>
    
  </body>
</html>