<!DOCTYPE html>
<html>
  <body>
    <h1><center>Hi Band!</center></h1>

    <h2>About Us</h2>
    <p>The Lesbian & Gay Big Apple Corps (LGBAC) is 
    a community band based in New York City. Founded on 
    September 24, 1979 as the New York Gay Community Marching Band, 
    LGBAC is the third-oldest community band in the United States 
    dedicated to serving the LGBTQ+ community.</p>

    <div class="links">
      <section id="sign_in">
        <center>Existing members?<br/>
        <a class="btn btn-primary" href="/login" role="button">Sign In</a></center>
      </section>

      <section id="sign_up">
        <center>New members?<br/>
        <a class="btn btn-primary" href="/signup" role="button">Sign Up</a></center>
      </section>
    </div>

  </body>
</html>