<h1>Welcome Back</h1>
<form method="POST" action="/login">
  <p>E-Mail: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>

  <input type="submit" value="submit">
</form>
